# **Book Recomandation **

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install seaborn matplotlib

Collecting seaborn
  Using cached seaborn-0.13.0-py3-none-any.whl.metadata (5.3 kB)
Collecting matplotlib
  Downloading matplotlib-3.8.2-cp310-cp310-win_amd64.whl.metadata (5.9 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from seaborn) (1.26.0)
Requirement already satisfied: pandas>=1.2 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from seaborn) (2.1.1)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.0-cp310-cp310-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.45.0-cp310-cp310-win_amd64.whl.metadata (158 kB)
     ---------------------------------------- 0.0/158.1 kB ? eta -:--:--
     ---------- ---------------------------- 41.0/158.1 kB 1.9 MB/s eta 0:00:01
     ------------------------------------ - 153.6/158.1 kB 1.8 MB/s eta 0:00:01
     -------------------------------------- 158.1/158.1 kB 1.6 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp310-cp310-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from matplotlib) (23.2)
Collecting pillow>=8 (from matplotlib)
  Downloading Pillow-10.1.0-cp310-cp310-win_amd64.whl.metadata (9.6 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached seaborn-0.13.0-py3-none-any.whl (294 kB)
Downloading matplotlib-3.8.2-cp310-cp310-win_amd64.whl (7.6 MB)
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/7.6 MB 5.1 MB/s eta 0:00:02
   - -------------------------------------- 0.2/7.6 MB 2.5 MB/s eta 0:00:04
   - -------------------------------------- 0.3/7.6 MB 2.6 MB/s eta 0:00:03
   -- ------------------------------------- 0.5/7.6 MB 2.6 MB/s eta 0:00:03
   -- ------------------------------------- 0.5/7.6 MB 2.4 MB/s eta 0:00:03
   --- ------------------------------------ 0.6/7.6 MB 2.3 MB/s eta 0:00:04
   --- ------------------------------------ 0.7/7.6 MB 2.2 MB/s eta 0:00:04
   --- ------------------------------------ 0.7/7.6 MB 2.1 MB/s eta 0:00:04
   --- ------------------------------------ 0.8/7.6 MB 1.8 MB/s eta 0:00:04
   ---- ----------------------------------- 0.8/7.6 MB 1.8 MB/s eta 0:00:04
   ---- ----------------------------------- 0.8/7.6 MB 1.8 MB/s eta 0:00:04
   ---- ----------------------------------- 0.9/7.6 MB 1.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.0/7.6 MB 1.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.0/7.6 MB 1.6 MB/s eta 0:00:05
   ----- ---------------------------------- 1.0/7.6 MB 1.6 MB/s eta 0:00:05
   ----- ---------------------------------- 1.1/7.6 MB 1.5 MB/s eta 0:00:05
   ------ --------------------------------- 1.2/7.6 MB 1.5 MB/s eta 0:00:05
   ------ --------------------------------- 1.3/7.6 MB 1.6 MB/s eta 0:00:05
   ------- -------------------------------- 1.4/7.6 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.4/7.6 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.4/7.6 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.5/7.6 MB 1.4 MB/s eta 0:00:05
   ------- -------------------------------- 1.5/7.6 MB 1.4 MB/s eta 0:00:05
   -------- ------------------------------- 1.7/7.6 MB 1.5 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/7.6 MB 1.5 MB/s eta 0:00:04
   --------- ------------------------------ 1.9/7.6 MB 1.6 MB/s eta 0:00:04
   ---------- ----------------------------- 2.0/7.6 MB 1.6 MB/s eta 0:00:04
   ----------- ---------------------------- 2.1/7.6 MB 1.7 MB/s eta 0:00:04
   ----------- ---------------------------- 2.3/7.6 MB 1.7 MB/s eta 0:00:04
   ------------ --------------------------- 2.3/7.6 MB 1.7 MB/s eta 0:00:04
   ------------ --------------------------- 2.4/7.6 MB 1.7 MB/s eta 0:00:04
   ------------- -------------------------- 2.5/7.6 MB 1.7 MB/s eta 0:00:04
   ------------- -------------------------- 2.6/7.6 MB 1.7 MB/s eta 0:00:03
   ------------- -------------------------- 2.6/7.6 MB 1.7 MB/s eta 0:00:03
   ------------- -------------------------- 2.6/7.6 MB 1.7 MB/s eta 0:00:03
   -------------- ------------------------- 2.7/7.6 MB 1.6 MB/s eta 0:00:04
   -------------- ------------------------- 2.8/7.6 MB 1.6 MB/s eta 0:00:03
   --------------- ------------------------ 2.9/7.6 MB 1.7 MB/s eta 0:00:03
   --------------- ------------------------ 2.9/7.6 MB 1.6 MB/s eta 0:00:03
   --------------- ------------------------ 3.0/7.6 MB 1.6 MB/s eta 0:00:03
   --------------- ------------------------ 3.0/7.6 MB 1.6 MB/s eta 0:00:03
   ---------------- ----------------------- 3.1/7.6 MB 1.6 MB/s eta 0:00:03
   ---------------- ----------------------- 3.1/7.6 MB 1.6 MB/s eta 0:00:03
   ---------------- ----------------------- 3.2/7.6 MB 1.5 MB/s eta 0:00:03
   ---------------- ----------------------- 3.2/7.6 MB 1.5 MB/s eta 0:00:03
   ----------------- ---------------------- 3.3/7.6 MB 1.5 MB/s eta 0:00:03
   ------------------ --------------------- 3.5/7.6 MB 1.6 MB/s eta 0:00:03
   ------------------ --------------------- 3.6/7.6 MB 1.6 MB/s eta 0:00:03
   ------------------- -------------------- 3.7/7.6 MB 1.6 MB/s eta 0:00:03
   ------------------- -------------------- 3.7/7.6 MB 1.6 MB/s eta 0:00:03
   ------------------- -------------------- 3.8/7.6 MB 1.6 MB/s eta 0:00:03
   -------------------- ------------------- 3.9/7.6 MB 1.6 MB/s eta 0:00:03
   --------------------- ------------------ 4.0/7.6 MB 1.6 MB/s eta 0:00:03
   --------------------- ------------------ 4.2/7.6 MB 1.7 MB/s eta 0:00:03
   ---------------------- ----------------- 4.3/7.6 MB 1.7 MB/s eta 0:00:02
   ---------------------- ----------------- 4.4/7.6 MB 1.7 MB/s eta 0:00:02
   ----------------------- ---------------- 4.5/7.6 MB 1.7 MB/s eta 0:00:02
   ------------------------ --------------- 4.6/7.6 MB 1.7 MB/s eta 0:00:02
   ------------------------ --------------- 4.7/7.6 MB 1.7 MB/s eta 0:00:02
   ------------------------- -------------- 4.9/7.6 MB 1.7 MB/s eta 0:00:02
   -------------------------- ------------- 5.0/7.6 MB 1.8 MB/s eta 0:00:02
   -------------------------- ------------- 5.0/7.6 MB 1.8 MB/s eta 0:00:02
   -------------------------- ------------- 5.1/7.6 MB 1.7 MB/s eta 0:00:02
   -------------------------- ------------- 5.1/7.6 MB 1.7 MB/s eta 0:00:02
   --------------------------- ------------ 5.3/7.6 MB 1.7 MB/s eta 0:00:02
   ---------------------------- ----------- 5.4/7.6 MB 1.8 MB/s eta 0:00:02
   ---------------------------- ----------- 5.5/7.6 MB 1.8 MB/s eta 0:00:02
   ----------------------------- ---------- 5.6/7.6 MB 1.8 MB/s eta 0:00:02
   ----------------------------- ---------- 5.6/7.6 MB 1.7 MB/s eta 0:00:02
   ------------------------------ --------- 5.7/7.6 MB 1.7 MB/s eta 0:00:02
   ------------------------------ --------- 5.9/7.6 MB 1.8 MB/s eta 0:00:02
   ------------------------------- -------- 5.9/7.6 MB 1.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.0/7.6 MB 1.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.0/7.6 MB 1.7 MB/s eta 0:00:01
   ------------------------------- -------- 6.1/7.6 MB 1.7 MB/s eta 0:00:01
   -------------------------------- ------- 6.2/7.6 MB 1.7 MB/s eta 0:00:01
   -------------------------------- ------- 6.2/7.6 MB 1.7 MB/s eta 0:00:01
   -------------------------------- ------- 6.3/7.6 MB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 6.3/7.6 MB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 6.4/7.6 MB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 6.4/7.6 MB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 6.5/7.6 MB 1.7 MB/s eta 0:00:01
   ---------------------------------- ----- 6.6/7.6 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 6.8/7.6 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 7.0/7.6 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 7.1/7.6 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 7.2/7.6 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 7.3/7.6 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 7.4/7.6 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  7.5/7.6 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 7.6/7.6 MB 1.8 MB/s eta 0:00:00
Downloading contourpy-1.2.0-cp310-cp310-win_amd64.whl (186 kB)
   ---------------------------------------- 0.0/186.7 kB ? eta -:--:--
   ----------------------------------- ---- 163.8/186.7 kB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 186.7/186.7 kB 2.8 MB/s eta 0:00:00
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.45.0-cp310-cp310-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.2 MB 3.6 MB/s eta 0:00:01
   ---- ----------------------------------- 0.2/2.2 MB 2.5 MB/s eta 0:00:01
   ------ --------------------------------- 0.4/2.2 MB 2.8 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.2 MB 3.0 MB/s eta 0:00:01
   ------------ --------------------------- 0.7/2.2 MB 3.0 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.2 MB 2.8 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.2 MB 2.6 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.2 MB 2.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.2 MB 2.4 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.2 MB 2.4 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.2 MB 2.4 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.2 MB 2.3 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.2 MB 2.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 2.0 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.2 MB 2.0 MB/s eta 0:00:01
   -------------------------- ------------- 1.5/2.2 MB 2.0 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.2 MB 2.0 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.2 MB 2.0 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.9/2.2 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 2.0/2.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  2.2/2.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 2.0 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp310-cp310-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.1 kB ? eta -:--:--
   --------------------- ------------------ 30.7/56.1 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 56.1/56.1 kB 739.6 kB/s eta 0:00:00
Downloading Pillow-10.1.0-cp310-cp310-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
    --------------------------------------- 0.0/2.6 MB 653.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.6 MB 762.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.6 MB 819.2 kB/s eta 0:00:04
   -- ------------------------------------- 0.2/2.6 MB 893.0 kB/s eta 0:00:03
   --- ------------------------------------ 0.3/2.6 MB 1.0 MB/s eta 0:00:03
   ----- ---------------------------------- 0.3/2.6 MB 1.2 MB/s eta 0:00:02
   ----- ---------------------------------- 0.4/2.6 MB 1.2 MB/s eta 0:00:02
   ------ --------------------------------- 0.5/2.6 MB 1.2 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.6 MB 1.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.5/2.6 MB 1.1 MB/s eta 0:00:02
   -------- ------------------------------- 0.6/2.6 MB 1.1 MB/s eta 0:00:02
   ---------- ----------------------------- 0.7/2.6 MB 1.2 MB/s eta 0:00:02
   ---------- ----------------------------- 0.7/2.6 MB 1.2 MB/s eta 0:00:02
   ----------- ---------------------------- 0.7/2.6 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.8/2.6 MB 1.1 MB/s eta 0:00:02
   ------------ --------------------------- 0.8/2.6 MB 1.1 MB/s eta 0:00:02
   ------------- -------------------------- 0.9/2.6 MB 1.1 MB/s eta 0:00:02
   -------------- ------------------------- 1.0/2.6 MB 1.1 MB/s eta 0:00:02
   --------------- ------------------------ 1.0/2.6 MB 1.1 MB/s eta 0:00:02
   ---------------- ----------------------- 1.1/2.6 MB 1.2 MB/s eta 0:00:02
   ----------------- ---------------------- 1.2/2.6 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.2/2.6 MB 1.2 MB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 1.2 MB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 1.4/2.6 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 1.4/2.6 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 1.4/2.6 MB 1.2 MB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.6 MB 1.1 MB/s eta 0:00:01
   ----------------------- ---------------- 1.5/2.6 MB 1.1 MB/s eta 0:00:01
   ----------------------- ---------------- 1.5/2.6 MB 1.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.6 MB 1.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.6 MB 1.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.6 MB 1.1 MB/s eta 0:00:01
   ------------------------- -------------- 1.7/2.6 MB 1.0 MB/s eta 0:00:01
   ------------------------- -------------- 1.7/2.6 MB 1.0 MB/s eta 0:00:01
   -------------------------- ------------- 1.7/2.6 MB 1.0 MB/s eta 0:00:01
   -------------------------- ------------- 1.7/2.6 MB 1.0 MB/s eta 0:00:01
   -------------------------- ------------- 1.7/2.6 MB 997.4 kB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.6 MB 971.5 kB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.6 MB 966.2 kB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.6 MB 950.9 kB/s eta 0:00:01
   ---------------------------- ----------- 1.9/2.6 MB 954.3 kB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 947.2 kB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 944.8 kB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 944.8 kB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 944.8 kB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 944.8 kB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 873.9 kB/s eta 0:00:01
   ----------------------------- ---------- 2.0/2.6 MB 858.6 kB/s eta 0:00:01
   ------------------------------ --------- 2.0/2.6 MB 857.7 kB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.6 MB 860.8 kB/s eta 0:00:01
   --------------------------------- ------ 2.2/2.6 MB 887.9 kB/s eta 0:00:01
   ---------------------------------- ----- 2.2/2.6 MB 890.1 kB/s eta 0:00:01
   ---------------------------------- ----- 2.3/2.6 MB 891.3 kB/s eta 0:00:01
   ----------------------------------- ---- 2.3/2.6 MB 887.0 kB/s eta 0:00:01
   ----------------------------------- ---- 2.3/2.6 MB 881.6 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 882.9 kB/s eta 0:00:01
   ------------------------------------- -- 2.4/2.6 MB 890.3 kB/s eta 0:00:01
   -------------------------------------- - 2.5/2.6 MB 904.8 kB/s eta 0:00:01
   ---------------------------------------  2.6/2.6 MB 915.3 kB/s eta 0:00:01
   ---------------------------------------  2.6/2.6 MB 910.9 kB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 903.9 kB/s eta 0:00:00
Using cached pyparsing-3.1.1-py3-none-any.whl (103 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.45.0 kiwisolver-1.4.5 matplotlib-3.8.2 pillow-10.1.0 pyparsing-3.1.1 seaborn-0.13.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# importing dataset  and converting into the dataframe
df_books=pd.read_csv('Books.csv')
df_rating=pd.read_csv('Ratings.csv')
df_users=pd.read_csv('Users.csv')
df=pd.DataFrame(df_books)
df=pd.DataFrame(df_rating)
df=pd.DataFrame(df_users)
df_books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [6]:
# print column names and
print(df_books.columns,'\n')
print(df_rating.columns,'\n')
print(df_users.columns,'\n')

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [7]:
print("Books dataset \n",df_books.isnull().sum(),'\n')
print("Rating dataset \n",df_rating.isnull().sum(),'\n')
print("Users dataset \n",df_users.isnull().sum(),'\n')

Books dataset
 ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

Rating dataset
 User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

Users dataset
 User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
 # check out how many row and columns in the dataset

print(df_books.shape)
print(df_rating.shape)
print(df_users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [9]:
# checking duplicate values in the data set
print("duplicate values books in dataset is ",df_books.duplicated().sum())
print("duplicate values rating in dataset is ",df_rating.duplicated().sum())
print("duplicate values users in dataset is ",df_users.duplicated().sum())

duplicate values books in dataset is  0
duplicate values rating in dataset is  0
duplicate values users in dataset is  0

In [10]:
df.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

**try to show top 60 books bases on populars **

In [11]:
# for that first merge books and rating dataset
# df_books.merge(df_books,on='ISBN')['here you can menstion need column names ']

df_rating_books=df_rating.merge(df_books,on='ISBN')
df_rating_books.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [12]:
df_rating_books.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L'],
      dtype='object')

In [13]:
#  now  need books and there rating for that  use group by function

df_rating_books.groupby('Book-Title').count()

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

In [14]:
# now filter and select only 2 coumns books-title and the rating


rating_books=df_rating_books.groupby('Book-Title').count()['Book-Rating'].reset_index()

rating_books

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [15]:
# # now create one more column  for the avarage  of rating fid for that use mean() in old dataset (merge rating+ books= df_rating_books)
# avg_rating=df_rating_books.groupby('Book-Title').mean(skipna=True)['Book-Rating'].reset_index()
# avg_rating.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
# avg_rating

avg_rating = df_rating_books.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)
avg_rating

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [16]:
# now merge both dataset  and same column is Books-Title

books_rating_avg=rating_books.merge(avg_rating,on='Book-Title')
books_rating_avg

,Book-Title,Book-Rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [17]:
# now print that book they rating above that 100

top_60_books=books_rating_avg[books_rating_avg['Book-Rating']>120].sort_values('avg_rating',ascending=False).head(60)
top_60_books.shape

(60, 3)

In [18]:
df_books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [19]:
# merge final table to books for taking features Book-Author, Image-URL-S	,Publisher
top_60_books=top_60_books.merge(df_books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Rating', 'avg_rating', 'Book-Author', 'Publisher','Image-URL-M']]
#  .drop_duplicates('Book-Title')
# .drop_duplicates('Book-Title')[['Book-Title', 'Book-Rating', 'avg_rating', 'Book-Author_x', 'Publisher_x','Image-URL-M_x']]
top_60_books.head(2)

,Book-Title,Book-Rating,avg_rating,Book-Author,Publisher,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439139597.0...

In [20]:
top_60_books.columns

Index(['Book-Title', 'Book-Rating', 'avg_rating', 'Book-Author', 'Publisher',
       'Image-URL-M'],
      dtype='object')

In [21]:
import joblib

# Save top_60_books using joblib with compression
joblib.dump(top_60_books, 'topbooks(60).pkl', compress=('gzip', 3))

# You can also check the first 2 rows of the DataFrame
print(top_60_books.head(2))

                                          Book-Title  Book-Rating  avg_rating  \
0  Harry Potter and the Prisoner of Azkaban (Book 3)          428    5.852804
3       Harry Potter and the Goblet of Fire (Book 4)          387    5.824289

     Book-Author   Publisher  \
0  J. K. Rowling  Scholastic
3  J. K. Rowling  Scholastic

                                         Image-URL-M
0  http://images.amazon.com/images/P/0439136350.0...
3  http://images.amazon.com/images/P/0439139597.0...

# **Collabrative fitering based  recommandation **

In [22]:
#use above dataset that merge books and rathing dataset

df_rating_books.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [23]:
# Now  use filterng and  find user that  and there rating score  greater than 180

df_rating_books.groupby('User-ID').count()['Book-Rating']>220

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [24]:
# converting in to boolean values
var_a=df_rating_books.groupby('User-ID').count()['Book-Rating']>220

# coverting values into boolean
var_a[var_a]

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: Book-Rating, Length: 733, dtype: bool

In [25]:
# now  above all users are r
# ating above than the  180 so find
# and fetch in the one variable

best_rators=var_a[var_a].index
best_rators

Index([   254,   2276,   2766,   2977,   3363,   4385,   6251,   6543,   6575,
         7158,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=733)

In [26]:
# now try to apply on the df_rating_books   and find that user they  one of in best_rators list
#dataset[column_name].isin(appy_formula)
df_rating_books[df_rating_books['User-ID'].isin(best_rators)]
user_rating=df_rating_books[df_rating_books['User-ID'].isin(best_rators)]
user_rating.head(3)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

# **Now base on the books filter **

In [27]:
# apply and on the  user-rating  group_by  book_title and rating top 50
# user_rating.groupby('Book-Title').count()['Book-Rating'].reset_index()
user_rating.groupby('Book-Title').count()['Book-Rating']>=60

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    False
 Always Have Popsicles                                                                                        False
 Apple Magic (The Collector's series)                                                                         False
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   False
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                False
                                                                                                              ...
Ã?Â?ber das Fernsehen.                                                                                        False
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.                                                           False
Ã?Â?lpiraten.                                                                                                 False
Ã?Â?stlich der Berge.                                                                                         False
Ã?Â?thique en toc                                                                                             False
Name: Book-Rating, Length: 152771, dtype: bool

In [28]:
# this is the books  that rating top-70
var_b=user_rating.groupby('Book-Title').count()['Book-Rating']>=60
var_b[var_b]
best_books= var_b[var_b].index

In [29]:
# now apply and the df_rating_books that and apply  best_books list
# variable     =boolean_value[datasets['fileter_column'].isin (apply_formula)     ]
final_top_books=df_rating_books[df_rating_books['Book-Title'].isin(best_books)]
final_top_books.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
62,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
64,638,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [30]:
final_top_bookst=final_top_books.drop_duplicates
final_dataset=final_top_books
final_dataset.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
62,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [31]:
pivot=final_dataset.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
# print(pivot)
pivot.fillna(0,inplace=True) # replacing_values
pivot.tail(1)

User-ID,8,9,14,16,17,26,32,39,42,44,...,278807,278813,278824,278828,278832,278836,278843,278844,278846,278854
Book-Title,,,,,,,,,,,,,,,,,,,,,
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:


#pickle.dump(pivot,open('final_dataset.pkl','wb'))

# import joblib
# from google.colab import files



# # Save the dictionary as a pickle file
# with open('final_dataset.pkl', 'wb') as file:
#     joblib.dump(pivot, file)

# # Download the pickle file
# files.download('final_dataset.pkl')

In [33]:
 pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (1.3.1)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from scikit-learn) (1.26.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shiva\videos\movies_r_s\.venv\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

# **campair to  similar matrics **

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similatrity_score=cosine_similarity(pivot)

In [36]:
similatrity_score.shape

(462, 462)

In [37]:
# use inbuilting function for recommondation
def recommend(book_name):
  # finding indexing of this books
  index=np.where(pivot.index==book_name)[0][0]
  similar_item=sorted(list(enumerate(similatrity_score[index])),key=lambda x:x[1],reverse=True)[1:5]

  for i in similar_item:
    print(pivot.index[i[0]])

In [38]:
# use inbuilting function for recommondation
def recommend(book_name):
  # finding indexing of this books
  index=np.where(pivot.index==book_name)[0][0]
  similar_item=sorted(list(enumerate(similatrity_score[index])),key=lambda x:x[1],reverse=True)[1:5]

  data=[]
  for i in similar_item:
    items=[]
    # print(pivot.index[i[0]])
    temp_var=df_books[df_books['Book-Title']==pivot.index[i[0]]]
    items.extend(list(temp_var.drop_duplicates('Book-Title')['Book-Title'].values))
    items.extend(list(temp_var.drop_duplicates('Book-Title')['Book-Author'].values))
    items.extend(list(temp_var.drop_duplicates('Book-Title')['Image-URL-M'].values))
    # items.extend(list(temp_var.drop_duplicates('Book-Title')['Book-Rating'].values))

    data.append(items)
  return data

In [40]:
# exporting file for flask
import joblib

# Save df_books using joblib with compression
joblib.dump(df_books, 'book_dataset.pkl', compress=('gzip', 3))

# Save pivot using joblib with compression
joblib.dump(pivot, 'final_dataset.pkl', compress=('gzip', 3))

# Save similarity_score using joblib with compression
joblib.dump(similatrity_score, 'sim_score.pkl', compress=('gzip', 3))

['sim_score.pkl']

In [111]:
# import pickle
# from google.colab import files



# # Save the dictionary as a pickle file
# with open('final_dataset.pkl', 'wb') as file:
#     pickle.dump(pivot, file)

# # Download the pickle file
# files.download('final_dataset.pkl')

In [112]:
# recommend('1984')
# recommend('2nd Chance')
# recommend('What Looks Like Crazy On An Ordinary Day')

recommend('Message in a Bottle')

[['The Notebook',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446605239.01.MZZZZZZZ.jpg'],
 ['The Rescue',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg'],
 ['A Walk to Remember',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446608955.01.MZZZZZZZ.jpg'],
 ['The Guardian',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446527793.01.MZZZZZZZ.jpg']]

In [113]:
# finding index of books using  book name
#  np.where(pivot.index=='1984')
np.where(pivot.index=='2nd Chance')[0][0]

2

In [114]:
# list(enumerate(similatrity_score[0]))
# sorting indexing
# sort_fun(formula of similarity),key=lambda_func sorting_based_on_2nd_col,descending)[sencond to fourth_index_show]
sorted(list(enumerate(similatrity_score[0])),key=lambda x:x[1],reverse=True)[1:5]

[(32, 0.15013251226398516),
 (53, 0.12263045089546497),
 (193, 0.0837794942511643),
 (412, 0.08170469020112277)]

In [115]:
# import joblib

# # data = [...]  # Your data here

# # data='final_dataset.pkl'
# # joblib.dump(data, 'final_dataset0.pkl')
# # data='book_dataset.pkl'
# # joblib.dump(data, 'book_dataset0.pkl')
# data='topbooks(60).pkl'
# joblib.dump(data, 'topbooks(60)0.pkl')